$font-stack: sans-serif;
$font-sz-dft: 16px;
$font-sz-md: 14px;
$font-sz-sm: 13px;

$color-red-dft: #dd3915;
$color-green-dft: #84cf6d;
$color-black-dft: #202020;
$color-grey-dft: #909090;
$color-grey-lht: #e3e3d3;
$color-grey-lhter: #f3f3f3;

$header-ht: 70px;
$page-pad: 40px;

$border: 1px solid $color-grey-lhter;
$border-fcus: 1px solid $color-grey-dft;
