$font-stack: sans-serif;
$font-sz-dft: 16px;
$font-sz-sm: 13px;

$color-txt-dft: #202020;
$color-txt-red: #dd3915;
$color-txt-gry: #909090;
$color-bkg-def: #202020;
$color-bkg-red: #dd3915;
$color-bkg-green: #84cf6d;

$header-ht: 70px;
$page-paddaing: 0 40px;

$border: 1px solid #f3f3f3;
