$font-stack: sans-serif;
$font-sz-lger: 30px;
$font-sz-lgmd: 24px;
$font-sz-lg: 20px;
$font-sz-lgls: 18px;
$font-sz-dft: 16px;
$font-sz-md: 14px;
$font-sz-sm: 13px;
$font-sz-smer: 12px;

$color-red-dft: #dd3915;
$color-red-fade: #ec6c3f;
$color-green-dft: #84cf6d;
$color-gold-dft: #c0ae7d;
$color-black-dft: #202020;
$color-white-dft: #fff;
$color-grey-dft: #909090;
$color-grey-lht: #d3d3d3;
$color-grey-lhter: #f3f3f3;
$color-grey-dsabl: #e3e3e3;

$zindex-header: 20;
$zindex-navigation: 30;
$zindex-slider: 10;

$header-ht: 70px;
$page-pad: 40px;

$border: 1px solid $color-grey-lhter;
$border-fcus: 1px solid $color-grey-dft;
